header.mb-3 {
  background: #6b92e8;
}

body {
  font-family: "Montserrat", "Open Sans";
}

a.navbar-brand.ml-1 {
  color: white;
}

/************************************** Navigation Area **************************************/

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #21abcb;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-brand {
  margin-right: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
  font-size: 15px;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-weight: bold;
}

.btn-outline-success,
.btn-outline-success:hover {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 0.5rem 2.5rem;
  color: #fff;
  font-weight: 600;
}

.btn-outline-success:hover {
  color: #6b92e8;
  background-color: #fff;
}

.btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: #6b92e8;
  border-color: #6b92e8;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(149, 122, 225, 0.5);
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
  }
}

/********************************* Dropdown Menu *********************************/
button#dropdownMenuButton.btn-username {
  background: none;
  border: none;
}

.navbar-light .navbar-nav .show > .nav-link:hover {
  color: #6b92e8;
  background: #f9f8f8;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #6b92e8;
}

/******************************** Footer Region ********************************/

footer {
  background: #22252e;
  margin-top: 2rem;
}
footer a.navbar-brand.ml-1 {
  color: #6b92e8;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.015em;
}

footer div p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 15px;
}

footer h5 {
  color: #fff;
}

.col-6.mx-auto.p-3 {
  text-align: center;
}

/******************************** User Registration Form Region ********************************/
.register-form.center-block {
  text-align: center;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.015em;
  color: #3a3a3a;
}
.card-main {
  background: #f1f1f1;
  box-shadow: 3px 0px 5px rgba(182, 182, 182, 0.25);
  padding: 1rem 0rem 3rem 0rem;
}
main .btn-outline-success,
main .btn-outline-success:hover {
  border: 1px solid #0e267a;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 0.5rem 2.5rem;
  color: #0e267a;
  font-weight: 600;
}

main .btn-outline-success:hover {
  color: #fff;
  background-color: #6b92e8;
  border: 1px solid #6b92e8;
}

main .btn-outline-success:not(:disabled):not(.disabled):active {
  background: #6b92e8;
  border-color: #6b92e8;
}

main .btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(56, 48, 77, 0.5);
}

.card-main p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgb(14, 38, 123);
}

form.card-user-reg.mb-5,
form.card-user-login {
  background: #f1f1f1;
  box-shadow: 3px 0px 5px rgba(182, 182, 182, 0.25);
  width: 992px;
  margin: 0 auto;
}

form.card-user-login.mb-5 {
  width: 50%;
}

.form-control.login-user {
  width: 50%;
}

form.card-user-reg div.col,
form.card-user-reg div.about-you {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #0e267a;
}

form.card-user-reg div.about-you,
form.card-user-reg div.general {
  background: #6b92e8;
}

form.card-user-reg div.about-you a,
form.card-user-reg div.general a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.col.title {
  height: 63px;
}

.form-group {
  padding: 0rem 2rem;
  text-align: left;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 16px;
}

div.register-form form.card-user-reg div,
div.register-form form.card-user-login div {
  margin: 0 auto;
}

div.register-form form.card-user-reg .col.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.register-form form.card-user-reg div.form-group {
  text-align: left;
}

.form-control {
  width: 278px;
}

.form-control.email,
.form-control.ques {
  width: 683px;
}

.form-control.sel {
  width: 181px;
}

.form-control.sel#height {
  font-size: 15px;
  width: 206px;
}

.form-body {
  width: 816px;
}

.form-body-about {
  width: 760px;
}

.form-body-about .col {
  padding: 0px;
}

.ques-container select.ques {
  width: 447px;
}

.ques-container {
  width: 500px;
}

/******************************** FOR SIDE BAR ********************************/

.wrapper {
  display: flex;
  align-items: stretch;
  width: 320px;
}

#sidebar {
  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;
  background-color: rgba(236, 236, 236, 0.5);
  padding-left: 0rem;
  padding-top: 4rem;
}

.sidebar-header {
  margin-left: 3rem;
}

.img-thumbnail {
  padding: 0.25rem;
  margin-left: 3rem;
  background: #c0d3ff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.abt {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 2rem;
  line-height: 30px;
  letter-spacing: -0.015em;
}

.abtP2 {
  -webkit-box-shadow: 0px 0px 4px #4195fc;
  -moz-box-shadow: 0px 0px 4px #4195fc;
  box-shadow: 0px 0px 4px #4195fc;
  border-radius: 6%;
  padding: 1rem;
}

.rec-button {
  border: none;
  border-radius: 0rem;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
  margin-right: 0rem;
  margin-top: 1rem;
  padding: 0.7rem 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  width: 80%;
}

.num-button {
  border: none;
  border-radius: 0rem;
  background: linear-gradient(90deg, #31d2f7 -313.56%, #ffaed2 398.31%);
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 0.7rem 0rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  width: 18%;
  display: inline-block;
  transition: 0.7s;
}

.num-button:hover {
  background: linear-gradient(90deg, #31d2f7 -313.56%, #ffaed2 398.31%);
  opacity: 0.5;
}

.socialmd {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -320px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

/******************************** FOR DASHBOARD ********************************/

/* main .container {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
} */

.dash_header {
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #99b0d1;
  margin-top: 3.5rem;
}

.tile {
  width: 240px;
  height: 240px;
  margin-bottom: 1.5rem;
  background: linear-gradient(90deg, #31d2f7 -143.33%, #ff71af 254.17%);
  opacity: 0.6;
  border-radius: 6px;
  position: relative;
  text-align: justify;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 1;
  border-radius: 0.25rem;
  transition: 0.5s;
}

.tile:hover {
  background: linear-gradient(90deg, #31d2f7 -143.33%, #ff71af 254.17%);
  opacity: 0.8;
}

.tile .grp_title {
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.tl {
  padding-top: 1rem;
}

.add {
  text-align: center;
}

.grp_header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.grp_header2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.page_header {
  text-align: center;
}

.btn.recom {
  color: #fff;
  background-color: #0e267a;
  border: 1px solid #0e267a;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  margin-left: 52%;
}

.btn.recom:hover {
  color: #0e267a;
  background-color: #fff;
  border: 1px solid #0e267a;
}

.btn.recom2 {
  color: #fff;
  background-color: #0e267a;
  border: 1px solid #0e267a;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  margin-left: 2%;
}

.btn.recom2:hover {
  color: #0e267a;
  background-color: #fff;
  border: 1px solid #0e267a;
}
