{% extends "base.html" %} {% block main %}
<div class="register-form center-block">
  <img
    src="../static/images/Footer Logo.png"
    class="d-inline-block align-top"
    alt=""
  />
  <h2 class="mb-3 mt-3">User Registration</h2>
  <form class="card-user-reg mb-5">
    <div class="row my-2">
      <div class="col general">
        General
      </div>
      <div class="col">
        About You
      </div>
    </div>
    <div class="row my-2">
      <p></p>
    </div>
    <div class="row my-2">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Sex:</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Female"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Age:</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="16-20"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Height:</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="5 ft 5 in"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">What is your ethnicity?</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Black (Coloured)"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">What is your personality type?</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Introvert"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">To which work area do you belong?</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Business"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">How would you describe your leadership style?</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Democratic"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Which is your level of education?</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Bachelors"
          />
        </div>
      </div>
    </div>
      <div class="row my-2">
        <div class="col mb-5 mt-3">
          <a
            class="btn btn-outline-success my-2 my-sm-0"
            href="{{ url_for('aboutRegular') }}"
            >Register</a
          >
        </div>
      </div>
  </form>
    </div>
</div>
{% endblock %}
