{% extends "sidebar.html" %} {% block div %}
    <div class = "page_header">
        <h2 class = "dash_header">Dashboard</h2>
        {% include 'flash_messages.html' %}
    </div>

    {% if current_user.type == "Regular"%}
        <h4 class = "grp_header">My Groups 
            <a href = "{{ url_for('recommend', username=current_user.username) }}" class=" btn recom">Recommend Matches</a>
        </h4>

    {% endif %} 

    {% if current_user.type == "Regular" and not sets %}
        <div class = "alert alert-primary">
            You Currently Have No Groups
        </div>
    {% endif %}

    {% if current_user.type == "Organizer" %}
        <h4 class = "grp_header">My Sets</h4>
    {% endif %} 

    {% if current_user.type == "Organizer" and not sets %}
        <div class = "alert alert-primary">
            You Currently Have No Sets
        </div>
    {% endif %} 
    
    <div class = "row">
        {% if current_user.type == "Organizer" and sets %}
            {% for item in sets %}
                <div class="col-4 grid-spacing">
                    <a href="{{ url_for('members', set_id=item.set_id) }}">
                    <button class = "tile">
                        <div class = "grp_title py-3"> 
                            {{ item.set_name }} <span class="code ml-4">{{ item.code }}</span>
                        </div>
                    </button>
                    </a>
                </div>
            {% endfor %}
        {% endif %} 

        <div class = "col-4">
            {% if current_user.type == "Organizer" %}
            <a href="{{ url_for('createSet', username=current_user.username) }}">
            <button class = "tile add">
                <img src="../static/images/plus.png" width="50" height="50" class = "img-add grow" />
            </button>
            </a>
            {% endif %}
        </div>
    </div>

    <div class = "row">
        {% if current_user.type == "Regular" and sets %}
            {% for item in sets %}
                <div class="col-4">
                    <button class = "tile">
                        <div class = "grp_title py-3"> 
                            {{ item.set_name }} 
                        </div>
                    </button>
                </div>
            {% endfor %}
        {% endif %} 

        <div class = "col-4">
            {% if current_user.type == "Regular" %}
            <a href="{{ url_for('joinASet', username=current_user.username) }}">
            <button class = "tile add">
                <img src="../static/images/plus.png" width="50" height="50" class = "img-add grow" />
            </button>
            </a>
            {% endif %}
        </div>
    </div>


    {% if current_user.type == "Regular" %}
       <h4 class = "grp_header2">Current Friends </h4>
        <div class = "alert alert-primary">
            You Currently Have No Friends
        </div>

        <!-- <div class = "row"> 
            <div class="col-4">
                <button class = "frndTile">
                    <div class = "grp_title py-3">
                        elllo
                    </div>
   
                </button>
            </div>
        </div> -->

        <button class=" btn recom2">All</button>

    {% endif %}  
    </div>
{% endblock %}