<!-- Footer -->
<footer class="page-footer font-small blue pt-2">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-6 mx-auto p-3">
        <img
          src="../static/images/Footer Logo.png"
          class="d-inline-block align-top mr-1"
          alt=""
        />
        <a class="navbar-brand ml-1" href="#">Réseau</a>
      </div>

      <div class="col">
        <h5>Contact</h5>
        <p>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit 
        </p>
          <p>(876) 462-3843</p>
        </p>
      </div>
      <div class="col">
        <h5>Links</h5>
        <p>
          Nam libero tempore, cum soluta nobis est.
        </p>
      </div>
    </div>
  </div>
</footer>

<style scoped>
  footer {
    background: #22252e;
    padding: 1.81rem 0rem;
    margin-top: 2rem;
  }
  footer a.navbar-brand.ml-1 {
    color: #21abcb;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.015em;
    font-family: "Open Sans";
  }

  footer div p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    font-family: "Open Sans";
    font-size: 15px;
  }

  footer h5 {
    color: #fff;
  }

  .col-6.mx-auto.p-3 {
    text-align: center;
  }
</style>
