<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="container-fluid text-center text-md-left py-4">
    <div class="row pt-3">
      <div class="col-6 mx-auto p-3">
        <img
          src="../static/images/Footer Logo.png"
          class="d-inline-block align-top mr-1"
          alt=""
        />
        <a class="navbar-brand ml-1" href="#">Réseau</a>
      </div>

      <div class="col">
        <h5>Contact</h5>
        <p>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit 
        </p>
          <p>(876) 462-3843</p>
        </p>
      </div>
      <div class="col">
        <h5>Links</h5>
        <p>
          Nam libero tempore, cum soluta nobis est.
        </p>
      </div>
    </div>
  </div>
</footer>