{% extends "base.html" %} {% block main %}
<div class="register-form center-block">
  <img
    src="../static/images/Footer Logo.png"
    class="d-inline-block align-top mt-5"
    alt=""
  />
  <h2 class="mb-5 mt-3">User Registration</h2>
  <form class="card-user-reg mb-5">
    <div class="row my-2">
      <div class="col title">
        General
      </div>
      <div class="col about-you title">
        About You
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">First Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="John"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Last Name</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Doe"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mt-3">
          <label for="exampleFormControlInput1">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Username</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Password</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
      </div>
    </div>
      <div class="row my-2">
        <div class="col mt-5 mb-4">
          <a
            class="btn btn-outline-success my-2 my-sm-0"
            href="{{ url_for('aboutRegular') }}"
            >Next</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
