<nav class="navbar navbar-expand-lg navbar-light static-top container py-0">
  <img
    src="../static/images/Icon.png"
    width="30"
    height="30"
    class="d-inline-block align-top mr-1"
    alt=""
  />
  <a class="navbar-brand ml-1" href="#">Réseau</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link mr-4 active">
        <a class="nav-link" href="{{ url_for('home') }}"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item nav-link mr-4">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item nav-link mr-4">
        <a class="nav-link" href="{{ url_for('login') }}">Testimonies</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <form method="post" action="{{ url_for('result') }}" class="mt-1 mr-3">
          <input type="text" class="form-control" placeholder="Search..." />
        </form>
      </li>

      <div class="dropdown nav-item">
        <button
          class="btn-username btn dropdown-toggle"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img src="../static/images/User Header Icon.png" class="mr-2" />
          {{current_user.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="nav-link username"
            href="{{ url_for('dashboard', username=current_user.username) }}"
          >
            Your Profile</a
          >
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </div>
      </div>
      {% else %}
      <li class="nav-item">
        <a
          class="btn btn-outline-success my-2 my-sm-0"
          href="{{ url_for('login') }}"
          >Log In</a
        >
      </li>
      <li class="nav-item">
        <a
          class="btn btn-outline-success my-2 my-sm-0"
          href="{{ url_for('registerAs') }}"
          >Register</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
