<nav class="navbar navbar-expand-lg navbar-dark nav-custom static-top">
  <img
    src="../static/images/Icon.png"
    class="d-inline-block align-top mr-1"
    alt=""
  />
  <a class="navbar-brand ml-1" href="#">Réseau</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link mr-4 active">
        <a class="nav-link" href="{{ url_for('home') }}"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item nav-link mr-4">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item nav-link mr-4">
        <a class="nav-link" href="{{ url_for('login') }}">Testimonies</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="btn btn-outline-success my-2 my-sm-0"
          href="{{ url_for('login') }}"
          >Log In</a
        >
      </li>
      <li class="nav-item">
        <a
          class="btn btn-outline-success-V2 my-2 my-sm-0"
          href="{{ url_for('register') }}"
          >Register</a
        >
      </li>
    </ul>
  </div>
</nav>