{% extends "base.html" %} {% block main %}
<div class="register-form center-block">
  <img
    src="../static/images/Footer Logo.png"
    class="d-inline-block align-top mt-5"
    alt=""
  />
  <h2 class="mb-5 mt-3">Registration</h2>
  <form class="card-main mb-5">
    <p>Registering as:</p>
    <a
      href="{{ url_for('registerRegular') }}"
      class="btn btn-outline-success my-2 my-sm-0"
    >
      Regular
    </a>
    <a
      href="{{ url_for('registerOrgnzr') }}"
      class="btn btn-outline-success my-2 my-sm-0"
    >
      Organizer
    </a>
  </form>
</div>

{% endblock %}


